{% extends 'core/base.html' %}
{% load static %}
{% load render_partial %}

{% block title %}
جستجوی پیشرفته | تسکجو
{% endblock title %}

{% block head_css_page %}
<link rel="stylesheet" href="{% static '/vendor/libs/tagify/tagify.css' %}">
{% endblock head_css_page %}


{% block content %}
          <!-- Content -->

          <div class="container-fluid flex-grow-1 container-p-y">
            <!-- Layout Demo -->
            <div class="mt-3">
              <div class="row">
                <div class="col-12 col-xl-2 col-lg-9 col-md-6 col-sm-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 mb-4">
                          <label for="website" class="form-label">وبسایت</label>
                          <select id="website" class="select2 form-select" multiple>
                            <optgroup label="وبسایت‌های داخلی">
                              {% for website in websites %}
                                <option value="{{ website.id }}">{{ website.name }}</option>
                              {% endfor %}
                            </optgroup>
                            <!-- <optgroup label="وبسایت‌های خارجی">
                              <option value="freelancer">freelancer</option>
                              <option value="uplancer">uplancer</option>
                            </optgroup> -->
                          </select>
                        </div>
                        <div class="col-12 mb-4">
                          <label for="category" class="form-label">دسته‌بندی</label>
                          <select id="category" class="select2 form-select" multiple>
                            {% for category in categories %}
                              <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-12 mb-4">
                          <label for="skill" class="form-label">مهارت</label>
                          <input id="skill" name="skills" class="form-control" placeholder="انتخاب مهارت">
                        </div>
                        <div class="col-12 mb-4">
                          <label class="form-label">بازه قیمت</label>
                          <!-- <input type="text" id="numeral-mask" class="form-control numeral-mask text-start" dir="ltr" placeholder="عدد وارد کنید"> -->
                          <div class="input-group">
                            <span class="input-group-text" dir="ltr">از</span>
                            <input type="text" id="minimum-price" class="form-control numeral-mask text-start" dir="ltr" placeholder="حداقل قیمت">
                            <span class="input-group-text">تومان</span>
                          </div>
                          <div class="input-group mt-2">
                            <span class="input-group-text" dir="ltr">تا</span>
                            <input type="text" id="maximum-price" class="form-control numeral-mask text-start" dir="ltr" placeholder="حداکثر قیمت">
                            <span class="input-group-text">تومان</span>
                          </div>
                        </div>
                        <!-- <div class="col-12 mb-4">
                          <label class="form-label">صفحه</label>
                          <div class="input-group mt-2">
                            {% if projects.has_next %}
                            <a class="page-link" href='{% url "core:search" %}?page={{ projects.next_page_number }}'><i class="tf-icon bx bx-chevrons-right"></i></a>
                            {% endif %}
                            <input type="number" value="1" min="1" id="page" class="form-control numeral-mask text-center" dir="ltr" placeholder="صفحه">
                            {% if projects.has_previous %}
                            <a class="page-link" href='{% url "core:search" %}?page={{ projects.previous_page_number }}'><i class="tf-icon bx bx-chevrons-left"></i></a>
                            {% endif %}
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-10 col-lg-3 col-md-6 col-sm-12 mt-4 mt-md-0">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 col-md-6 col-lg-8 col-xl-9">
                          <div class="input-group">
                            <input type="text" id="user-input"  class="form-control" placeholder="جستجو در نام و توضیحات پروژه" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <!-- <button class="btn btn-outline-primary" type="button" id="button-addon2"><i class="tf-icons bx bx-search"></i></button> -->
                          </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-2 mt-md-0">
                          <select class="form-select" id="sort_by" aria-label="Default select example">
                            <option selected="" value="" >مرتب سازی براساس:</option>
                            <option value="applicants_number">کمترین پیشنهاد</option>
                            <option value="-applicants_number">بیشترین پیشنهاد</option>
                            <option value="budget">کمترین بودجه</option>
                            <option value="-budget">بیشترین بودجه</option>
                          </select>
                        </div>
                      </div>
                      <div id="replaceable-content">
                        {% include 'core/projects_partial_view.html'  %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Layout Demo -->
          </div>
          <!--/ Content -->
{% endblock content %}

{% block footer_javascript_section %}
<!-- Vendors JS -->
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static '/vendor/libs/tagify/tagify.js' %}"></script>
{% endblock footer_javascript_section %}


{% block footer_javascript_page %}
<script>
  const skills = "{{ skills }}"; // get skills from context
</script>
<script src="{% static '/js/search-tagify.js' %}"></script>
{% endblock footer_javascript_page %}