{% load static %}
{% load assets %}
{% load user %}
<!DOCTYPE html>
<html lang="fa" class="light-style" dir="rtl" data-theme="theme-default" data-assets-path="{{ static|assets_path }}"
data-template="horizontal-menu-template">
    <head>
        <title>{% block title %}Home {% endblock title %}</title>
        {% block head_favicon %}
            <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon.ico' %}">
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
                <meta charset="utf-8">
                <meta name="viewport"
                        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
                <meta name="description" content="">
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}
            <!-- Icons -->
            <link rel="stylesheet" href="{% static '/vendor/fonts/boxicons.css' %}">
            <link rel="stylesheet" href="{% static '/vendor/fonts/fontawesome.css' %}">
            <link rel="stylesheet" href="{% static '/vendor/fonts/flag-icons.css' %}">

            <!-- Core CSS -->
            <link rel="stylesheet" href="{% static '/vendor/css/rtl/core.css' %}" class="template-customizer-core-css">
            <link rel="stylesheet" href="{% static '/vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css">
            <link rel="stylesheet" href="{% static '/css/demo.css' %}">
            <link rel="stylesheet" href="{% static '/css/modal.css' %}">
            <link rel="stylesheet" href="{% static '/vendor/css/rtl/rtl.css' %}">

            <!-- Vendors CSS -->
            <link rel="stylesheet" href="{% static '/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}">
            <link rel="stylesheet" href="{% static '/vendor/libs/typeahead-js/typeahead.css' %}">
            <link rel="stylesheet" href="{% static '/vendor/libs/select2/select2.css' %}">
            <link rel="stylesheet" href="{% static '/vendor/libs/bootstrap-select/bootstrap-select.css' %}">
            {% block head_css_section %}{% endblock head_css_section %}
            <!-- Page CSS -->
            {% block head_css_page %}{% endblock head_css_page %}
            <!-- Helpers -->
            <script src="{% static '/vendor/js/helpers.js' %}"></script>

            <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js' %} in the <head> section -->
            <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js' %}.  -->
            <!-- <script src="{% static '/vendor/js/template-customizer.js' %}"></script> -->
            <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
            <script src="{% static '/js/config.js' %}"></script>
            {% endblock head_css_site %}
            
            
        {% endblock head_css %}
    </head>
    <body>
        <!-- Layout wrapper -->
  <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
    <div class="layout-container">
      {% if user.is_authenticated %}
      <!-- Navbar Login -->
      <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
        <div class="container-fluid">
          <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4"> 
            <a href="{% url 'core:dashboard' %}" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">
                <img src="{% static 'img/logo/taskjo.svg' %}" width="40" alt="تسکجو">
              </span>
              <span class="app-brand-text demo menu-text fw-bold">تسکجو</span>
            </a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
              <i class="bx bx-x bx-sm align-middle"></i>
            </a>
          </div>

          <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
              <i class="bx bx-menu bx-sm"></i>
            </a>
          </div>

          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <ul class="navbar-nav flex-row align-items-center ms-auto">
              <!-- Language -->
              <li class="nav-item dropdown-language dropdown me-2 me-xl-0">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                  <i class="fi fi-ir fis rounded-circle fs-3 me-1"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);" data-language="fa">
                      <i class="fi fi-ir fis rounded-circle fs-4 me-1"></i>
                      <span class="align-middle">فارسی</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);" data-language="en">
                      <i class="fi fi-us fis rounded-circle fs-4 me-1"></i>
                      <span class="align-middle">انگلیسی</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!--/ Language -->

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{{ user|user_image }}" alt class="rounded-circle">
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar avatar-online">
                            <img src="{{ user|user_image }}" alt class="rounded-circle">
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <span class="fw-semibold d-block lh-1">{{ user|user_full_name }}</span>
                          <small>{{ user|user_role }}</small>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'core:profile' %}">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">پروفایل</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'core:settings' %}">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">تنظیمات</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'core:help' %}">
                        <i class="bx bx-help-circle me-2"></i>
                        <span class="align-middle">راهنما</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'accounts:logout' %}" target="_blank">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">خروج</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
            </ul>
          </div>

        </div>
      </nav>
      <!-- / Navbar  Login-->
      {% else %}
      <!-- Navbar  -->
      <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
        <div class="container-xxl">
            <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
                <a href="dashboard.html" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                    <img src="{% static 'img/logo/taskjo.svg' %}" width="40" alt="تسکجو">
                </span>
                <span class="app-brand-text demo menu-text fw-bold">تسکجو</span>
                </a>

                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
                <i class="bx bx-x bx-sm align-middle"></i>
                </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Language -->
                <li class="nav-item dropdown-language dropdown me-2 me-xl-0">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <i class="fi fi-ir fis rounded-circle fs-3 me-1"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);" data-language="fa">
                        <i class="fi fi-ir fis rounded-circle fs-4 me-1"></i>
                        <span class="align-middle">فارسی</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);" data-language="en">
                        <i class="fi fi-us fis rounded-circle fs-4 me-1"></i>
                        <span class="align-middle">انگلیسی</span>
                        </a>
                    </li>
                    </ul>
                </li>
                <!--/ Language -->

                <!-- User -->
                <span><i class="bx bx-user"></i><a href="{% url 'accounts:login' %}"> ورود / ثبت نام </a></span>
                <!--/ User -->
                </ul>
            </div>

        </div>
      </nav>
      <!-- / Navbar-->
      {% endif %}
      <!-- Layout container -->
      <div class="layout-page">
        <!-- Content wrapper -->
        <div class="content-wrapper">
          {% if user.is_authenticated %}
            <!-- Menu -->
            <aside id="layout-menu"
                class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0">
                <div class="container-fluid d-flex h-100">
                    <ul class="menu-inner">
                        <!-- Dashboards -->
                        <li class="menu-item">
                            <a href="{% url 'core:dashboard' %}" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-home"></i>
                                <div data-i18n="Dashboards">داشبورد</div>
                            </a>
                        </li>
                        <!-- Advanced Search -->
                        <li class="menu-item">
                            <a href="{% url 'core:search' %}" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-search"></i>
                                <div data-i18n="Dashboards">جستجوی پیشرفته</div>
                            </a>
                        </li>

                    </ul>
                </div>
            </aside>
            {% endif %}
            <!-- / Menu -->
            <!-- Modal content -->
            <div id="status-modal" class="modal" style="display: none;">
                <div class="alert-modal alert-solid-success alert-dismissible d-flex align-items-center" role="alert">
                  <i class="bx bx-xs bx-desktop me-2"></i>
                  عملیات با موفقیت انجام شد - صفحه را ریلود کنید  
                  <button type="button" class="btn-close" id="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>          
            </div>

            {% block content %}
                if you see this, something is wrong!
            {% endblock content %}


                    <!-- Footer -->
                    <footer class="content-footer footer bg-footer-theme">
                      <div
                          class="container-fluid d-flex flex-wrap justify-content-center py-2 flex-md-row flex-column">
                          <div class="mb-2 mb-md-0">
                              طراحی شده با ❤️ ارائه شده توسط
                              <a href="https://github.com/taskjo/taskjo-django" target="_blank" class="footer-link fw-semibold">تسکجو</a>
                          </div>
                      </div>
                  </footer>
                  <!-- / Footer -->

                  <div class="content-backdrop fade"></div>
                </div>
                <!--/ Content wrapper -->
              </div>
        
              <!--/ Layout container -->
          </div>
        </div>
        
          <!-- Overlay -->
          <div class="layout-overlay layout-menu-toggle"></div>
        
          <!-- Drag Target Area To SlideIn Menu On Small Screens -->
          <div class="drag-target"></div>
        
          <!--/ Layout wrapper -->

        {# Set of blocks that can be used to display JavaScript files #}
        {% block footer_javascript %}
        {% block footer_javascript_site %}
        <!-- Core JS -->
        <!-- build:js assets/vendor/js/core.js' %} -->
        <script src="{% static '/vendor/libs/jquery/jquery.js' %}"></script>
        <script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
        <script src="{% static 'vendor/js/bootstrap.js' %}"></script>
        <script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

        <script src="{% static 'vendor/libs/hammer/hammer.js' %}"></script>

        <script src="{% static 'vendor/libs/typeahead-js/typeahead.js' %}"></script>

        <script src="{% static 'vendor/js/menu.js' %}"></script>
        <!-- endbuild -->
        {% block footer_javascript_section %}
        <!-- Vendors JS -->
        <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
        <script src="{% static 'vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
        <script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
        {% endblock footer_javascript_section %}

        <!-- Main JS -->
        <script src="{% static 'js/main.js' %}"></script>
         <!-- Modal JS -->
        <script src="{% static 'js/status-modal.js' %}"></script>

        <!-- Page JS -->
        <script src="{% static 'js/forms-selects.js' %}"></script>
        <script src="{% static 'js/forms-extras.js' %}"></script>
        
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
        {% endblock footer_javascript_site %}
        {% endblock footer_javascript %}
    </body>
</html>
