{% extends 'core/base.html' %}
{% load static %}


{% block title %}
داشبورد | تسکجو
{% endblock title %}
{% block head_css_section %}
<link rel="stylesheet" href="{% static '/vendor/libs/swiper/swiper.css' %}">
{% endblock head_css_section %}
{% block head_css_page %}
    <!-- Page CSS -->
  <link rel="stylesheet" href="{% static '/vendor/css/pages/ui-carousel.css' %}">
{% endblock head_css_page %}

{% block content %}
    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Layout Demo -->
        <div>
          <div class="row">
            <div class="col-12 col-lg-4 mt-3 order-2 order-lg-1">
              <div class="card h-100">
                <div class="card-header">
                  <h5 class="card-title mb-3">پروژه های شناسایی شده برای شما</h5>
                  <h1 class="display-6 fw-normal mb-0 primary-font" id="usr-max">{{ usr_proj_list.0.valuemax }}</h1>
                </div>
                <div class="card-body">
                  <span class="d-inline-block lh-1-85 mb-2">مهارت‌های شما</span>
                  <div class="progress progress-stacked mb-4" style="height: 8px">
                    {% for proj in usr_proj_list %}
                    <div class="progress-bar bg-{{ proj.class }}" role="progressbar" style="width: 0%" aria-valuenow="{{ proj.valuenow }}" aria-valuemin="0" aria-valuemax="{{ proj.valuemax }}"></div>
                    {% endfor %}
                  </div>
                  <ul class="p-0 m-0 lh-1-85">
                    {% for proj in usr_proj_list %}
                    <li class="mb-2 d-flex justify-content-between">
                      <div class="d-flex align-items-center me-3">
                        <span class="badge badge-dot bg-{{ proj.class }} me-2"></span> {{ proj.name }}
                      </div>
                      <div class="d-flex gap-3">
                        <span>{{ proj.valuenow }}</span>
                        <span class="fw-semibold">{{ proj.valuenow }}%</span>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 mt-3 order-1 order-lg-2">
              <div class="card h-100">
                <img class="mx-auto mt-4" src="{% static '/img/logo/taskjo.svg' %}" alt="Card image cap" width="200">
                <div class="card-body">
                  <h1 class="card-title text-center">به تسکجو خوش آمدید</h1>
                  <p class="card-text text-center">
                    تسکجو، میزکار فریلنسری برای تمامی فریلنسرهای عزیز در هر زمینه و سبک کاری
                  </p>
                  <a href="{% url 'core:help' %}" class="btn btn-outline-primary d-flex justify-content-center">آموزش کار با تسکجو</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 mt-3 order-3 order-lg-3">
              <div class="card h-100">
                <div class="card-header">
                  <h5 class="card-title mb-0">بازار کار مهارت‌های شما</h5>
                </div>
                <div class="card-body">
                  <ul class="p-0 m-0">
                    {% for proj in all_proj_list %}
                    <li class="d-flex align-items-center mb-4 pb-2">
                      <div class="avatar avatar-sm flex-shrink-0 me-3">
                        <span class="avatar-initial rounded-circle bg-label-primary"><i class="{{ proj.class }}"></i></span>
                      </div>
                      <div class="d-flex flex-column w-100">
                        <div class="d-flex justify-content-between mb-1">
                          <span class="mb-1">{{ proj.name }}</span>
                          <span class="text-muted">{{ proj.valuenow }} پروژه</span>
                        </div>
                        <div class="progress" style="height: 6px">
                          <div class="progress-bar bg-primary" style="width: 10%" role="progressbar" aria-valuenow="{{ proj.valuenow }}" aria-valuemin="0" aria-valuemax="{{ proj.valuemax }}"></div>
                        </div>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% include 'core/dashboard_projects.html' with related_project_list=related_project_list  user_skills_list=user_skills_list  %}
        </div>
        <!--/ Layout Demo -->
      </div>
      <!--/ Content -->
{% endblock content %}

{% block footer_javascript_section %}
<!-- Vendors JS -->
<script src="{% static '/vendor/libs/swiper/swiper.js' %}"></script>
{% endblock footer_javascript_section %}

{% block footer_javascript_page %}
  <!-- Page JS -->    
  <script src="{% static '/js/ui-carousel.js' %}"></script>
  <script>
    const collection = document.getElementsByClassName("progress-bar");
    for (let i = 0; i < collection.length; i++) {
      collection[i].style.width = collection[i].ariaValueNow + '%';
    }

  </script>

{% endblock footer_javascript_page %}



<!-- #TOOD add detail -->