{% load static %}
{% load jalai_format %}
{% load user %}
    {% for project in related_projects%}
    <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-12 my-2">
        <div class="card h-100">
          <div class="card-header primary-font">
            <div class="d-flex align-items-start">
              <div class="d-flex align-items-start">
                <!-- TODO Fix this  -->
                <div class="avatar avatar-sm flex-shrink-0 me-3">
                  <span class="avatar-initial rounded-circle bg-label-primary"><i class="{{project.skills.first.skill_style_class}}"></i></span>
              </div>
                <div class="me-2">
                  <h5 class="mb-1"><a href="{{project.short_link}}" class="h5">{{ project.title }}</a></h5>
                  <div class="client-info d-flex align-items-center text-nowrap">
                  </div>
                </div>
              </div>
              <div class="ms-auto">
                <div class="dropdown zindex-2">
                  <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item fa fa-trash-alt" href="javascript:UserProjects({{project.id}},'delete')"><i class="far "></i>&nbsp; حذف پروژه از لیست</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body h-100">
            <p class="mb-0 text-secondary">{{ project.description|truncate_chars:"0,50"}}</p>
            <div class="mt-2">
              <span class="badge bg-warning mt-1">وبسایت: {{ project.website}}</span>
              <span class="badge bg-warning mt-1">پیشنهاد: {{ project.applicants_number}}</span>
              <span class="badge bg-warning mt-1">دسته بندی: {{ project.category}}</span>
              {% for skill in project.skills.all %}
                <span class="badge bg-primary mt-1">مهارت: {{ skill }}</span>
              {% endfor %}
              {{user|is_related_project:project.id}}
            </div>
          </div>
          <div class="card-body border-top">
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="bg-secondary p-1 rounded">
                  <p class="mb-1 text-white text-center small">بودجه:<span class="text-white fw-normal"> {{ project.budget|budget_format }}  </span></p>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 col-md-12">
                <div class="bg-secondary p-1 rounded">
                  <p class="mb-1 text-white text-center small"> زمان انجام: <span class="text-white fw-normal">{{ project.remaining_time|jalali_date }} </span></p>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 col-md-12">
                <div class="bg-success p-1 rounded">
                  <a href="{{project.short_link}}"><p class="mb-1 text-white text-center small">نمایش پروژه</p></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
