{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}فراموشی رمز عبور  | تسکجو{% endblock %}

{% block content %}

    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <div class="row">
            <!-- FormValidation -->
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="app-brand justify-content-center">
                    <a href="{% url 'core:index' %}" class="app-brand-link gap-2">
                      <span class="app-brand-logo demo">
                        <img src="{% static '/img/logo/taskjo.svg' %}" alt="">
                      </span>
                      <span class="app-brand-text demo h3 mb-0 fw-bold">تسکجو</span>
                    </a>
                  </div>
                  <h4 class="mb-2 text-center">رمز عبورتان را فراموش کردید؟</h4>
                  <p class="mb-4 text-center">ایمیل خودتان را وارد کنید تا لینک بازیابی حساب برایتان ارسال گردد</p>
                  <form id="formAuthentication" class="row g-3"  method="POST">
                    <!-- Account Details -->
                    {% csrf_token %}

                    <div class="col-12 mb-3">
                      <label class="form-label" for="email">ایمیل</label>
                      <div class="input-group input-group-merge">
                        <input type="text" id="email" name="email" class="form-control text-start" dir="ltr" placeholder="example@gmail.com" autofocus>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" name="submitButton" class="btn btn-primary w-100">ارسال ایمیل</button>
                    </div>
                  </form>
                  {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  
                  {% endif %}
                </div>
              </div>
            </div>
            <!-- /FormValidation -->
          </div>
        </div>
      </div>
    </div>

    <!-- / Content -->

{% endblock %}