{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}تنظیم رمز عبور جدید  | تسکجو {% endblock %}




{% if validlink %}


  {% block content %}

    <!-- Content -->
    
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <div class="row">
            <!-- FormValidation -->
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="app-brand justify-content-center">
                    <a href="index-2.html" class="app-brand-link gap-2">
                      <span class="app-brand-logo demo">
                        <img src="{% static '/img/logo/taskjo.svg' %}" alt="">
                      </span>
                      <span class="app-brand-text demo h3 mb-0 fw-bold">تسکجو</span>
                    </a>
                  </div>
                  <h4 class="mb-2 text-center">ورود رمز عبور جدید</h4>
                  <p class="mb-4 text-center">رمزعبور جدیدتان را دوبار وارد کنید تا ما بتوانیم بررسی کنیم که به درستی تایپ کرده‌اید.</p>
                  <form id="formAuthentication" class="row g-3"  method="POST">
                    <!-- Account Details -->
                    {% csrf_token %}
                    <div class="col-12 mb-3">
                      <div class="form-password-toggle">
                        <label class="form-label" for="password">رمز عبور جدید</label>
                        <div class="input-group input-group-merge">
                          <input class="form-control text-start" dir="ltr" type="password" id="password" name="new_password1" placeholder="············" aria-describedby="multicol-password2">
                          <span class="input-group-text cursor-pointer" id="multicol-password2"><i class="bx bx-hide"></i></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mb-3">
                      <div class="form-password-toggle">
                        <label class="form-label" for="confirm-password">تایید رمز عبور جدید</label>
                        <div class="input-group input-group-merge">
                          <input class="form-control text-start" dir="ltr" type="password" id="confirm-password" name="new_password2" placeholder="············" aria-describedby="multicol-confirm-password2">
                          <span class="input-group-text cursor-pointer" id="multicol-confirm-password2"><i class="bx bx-hide"></i></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" name="submitButton" class="btn btn-primary w-100">تغییر رمز عبور</button>
                    </div>
                  </form>
                  {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  
                  {% endif %}
                </div>
              </div>
            </div>
            <!-- /FormValidation -->
          </div>
        </div>
      </div>
    </div>

    <!-- / Content -->



  {% endblock %}

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
