{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}بازنشانی رمز عبور | تسکجو{% endblock %}

{% block content %}
      <!-- Content -->

      <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
          <div class="authentication-inner py-4">
            <!-- Reset Password -->
            <div class="card">
              <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                  <a href="index-2.html" class="app-brand-link gap-2">
                    <span class="app-brand-logo demo">
                      <img src="../../assets/img/logo/taskjo.svg" alt="">
                    </span>
                    <span class="app-brand-text demo h3 mb-0 fw-bold">تسکجو</span>
                  </a>
                </div>
                <!-- /Logo -->
                <h4 class="mb-2 text-center">بازنشانی رمز عبور</h4>
                <p class="mb-4 text-center">برای <span class="fw-bold">09915640050</span></p>
                <form id="formAuthentication" class="mb-3" method="POST">
                    {% csrf_token %}
                  <div class="mb-3 form-password-toggle">
                    <label class="form-label" for="password">رمز عبور قدیمی</label>
                    <div class="input-group input-group-merge">
                      <input type="password" id="password" class="form-control text-start" dir="ltr" name="old_password" placeholder="············" aria-describedby="password">
                      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                  </div>
                  <div class="mb-3 form-password-toggle">
                    <label class="form-label" for="password">رمز عبور جدید</label>
                    <div class="input-group input-group-merge">
                      <input type="password" id="password" class="form-control text-start" dir="ltr" name="new_password1" placeholder="············" aria-describedby="password">
                      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                  </div>
                  <div class="mb-3 form-password-toggle">
                    <label class="form-label" for="confirm-password">تایید رمز عبور</label>
                    <div class="input-group input-group-merge">
                      <input type="password" id="confirm-password" class="form-control" name="new_password2" placeholder="············" aria-describedby="password">
                      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                  </div>
                  <button class="btn btn-primary d-grid w-100 mb-3" type="submit">تنظیم رمز عبور جدید</button>
                  <div class="text-center">
                    <a href="login.html">
                      <i class="bx bx-chevron-left scaleX-n1-rtl"></i>
                      بازگشت به ورود
                    </a>
                  </div>
                </form>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                
                {% endif %}
              </div>
            </div>
            <!-- /Reset Password -->
          </div>
        </div>
      </div>
  
      <!-- / Content -->

{% endblock content %}

{% block footer_javascript_page %}
<script src="{% static '/js/pages-auth.js' %}"></script> 
{% endblock footer_javascript_page %}