SECRET_KEY = 'key'

# static path in server
#STATIC_ROOT = '/var/cache/taskjo/static'
# media path in server by access
#MEDIA_ROOT = '/opt/taskjo/media'
#DEBUG = False


# BROKER_URL = 'redis://localhost:6379'
BROKER_URL = 'redis://redis:6379' # docker
# CELERY_RESULT_BACKEND = 'redis://localhost:6379'
CELERY_RESULT_BACKEND = 'redis://redis:6379' # docker
CELERY_ACCEPT_CONTENT = ['application/json']
CELERY_TASK_SERIALIZER = 'json'
CELERY_RESULT_SERIALIZER = 'json'
CELERY_TIMEZONE = 'Asia/Tehran'

# celery setting is deprecated and scheduled for removal in version 6.0.0.
accept_content = ['application/json']
# broker_url = 'redis://localhost:6379'
# result_backend = 'redis://localhost:6379'
result_serializer = 'json'
task_serializer = 'json'
timezone = 'Asia/Tehran'


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'db',
        'USER': 'fake',
        'PASSWORD': 'fake',
        'HOST': 'localhost',
        'PORT' : '5432'
    }
}

# SMS GATEWAY sms.ir Settings
SMSIR_URL_GET_TOKEN = "https://RestfulSms.com/api/Token"
SMSIR_URL_ULTRA_FAST_SEND = "https://RestfulSms.com/api/UltraFastSend"
SMSIR_TEMPLATE_VERIFY = "your_template_code"
SMSIR_USER_API_KEY = "your_api_key"
SMSIR_SECRET_KEY = "your_secret_key"

#Email
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'domain'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_USE_SSL = False
EMAIL_HOST_USER = 'server@email.com'
EMAIL_HOST_PASSWORD = 'pass'
RECIPIENT_ADDRESS=''
DEFAULT_FROM_EMAIL = 'server@email.com'
SERVER_EMAIL = 'server@email.com'

# python manage.py runserver 0.0.0.0:8000 --settings=taskjo.local_settings